/* 1. Posicionamiento
2. Modelo de caja 
3. Tipografia
4. Visuales
5. Otros */
:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    --big: 2.4rem;
    --medium: 1.6rem;
    --little: 1.4rem;

}
.inactive {
    display: none;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 295px;
    padding-top: 16px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    min-width: 320px;
}
header .logo {
    margin-top: 42px;
    margin-bottom: 16px;
}
.header--title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 229px;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin-top: 0px;
}
.header--title-container h1 {
 font-size: var(--big);
 font-weight: 700;
 margin: 36px 0 0px 0;
 color: var(--just-white);
 max-width: 400px;
}
.header--title-container p {
    font-size: var(--little);
    font-weight: 500;
    margin: 24px 16px 0px 16px;
    color: var(--soft-orange);
    max-width: 400px;
}
.header--title-container a {
    position: relative;
    top: 0px;
    text-decoration: none;
    font-size: var(--little);
    font-weight: 700;
    margin-top: 32px;
    color: var(--black);
    height: 48px;
    padding: 15px 0 15px 16px;
    background-color: var(--off-white);
    border-radius: 4px;
    gap: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.header--title-container span {
    width: 12px;
    height: 7.41px;
    margin-right: 20px;
    margin-left: 14px;
}
.main-exchange-container {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
}
.main-exchange-container .backgroundImg {
    background-image: url(./assets/img/bitcoin.svg);
    width: 195px;
    height: 195px;
    margin: 59px 57px 40px 68px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-exchange-container--title {
    width: 288px;
    max-width: 400px;
    margin-left: 15px;
    margin-right: 17px;
}
.main-exchange-container--title h2{
    text-align: center;
    font-size: var(--big);
    font-weight: 700;
    color: var(--warm-black);
    margin-bottom: 24px;
}
.main-exchange-container--title p {
    text-align: center;
    color: #757575;
    font-size: var(--little);
    font-weight: 500;
    margin-bottom: 48px;
}
.main-tables-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
}
.currency-table-container {
    min-width: 235px;
    max-width: 500px;
    font-family: "Inter", sans-serif;
    margin-left: 35px;
}
.currency-table-container span {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--bitcoin-orange);
    margin-left: 20px;
}

.currency-table-container .right-arrow {
    position: relative;
    left: 230px;
    top: 100px;
}
.main-currency-table table td {
    background-color: var(--just-white);
    padding: 11px 12px 10px 12px;
    font-size: var(--medium);
}

table .table__right {
    color: #757575;
    font-weight: 400;
}
.table__right span img{
    width: 15px;
    height: 15px;
    display: inline-block;

}
table .table__left {
    color: #B5B0AC;
    font-weight: 500;
}
.table__top-left {
    border-radius: 8px 0 0 0;
}
.table__top-right {
    border-radius: 0 8px 0 0;
}
.table__bottom-left {
    border-radius: 0 0 0 8px;
}
.table__bottom-right {
    border-radius: 0 0 8px 0;
}

.currency-table-update .update {
    height: 31px;
    border-radius: 8px;
    background-color: var(--soft-orange);
    margin-top: 16px;
    margin-bottom: 65px;
    margin-left: 10px;
    padding: 8px;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.5rem;
    font-weight: 400;
    width: max-content;
}
.commissions-table-container {
    min-width: 235px;
    max-width: 500px;
    font-family: "Inter", sans-serif;
    margin-left: 35px;
}
.commissions-table-container td {
    background-color: var(--just-white);
    padding: 11px 12px 10px 12px;
    font-size: var(--medium);
}
.commissions-table-container span {
    color: #1a9af7;
    margin-left: 20px;
    font-size: 1.8rem;
    font-weight: 700;
}
.commissions-table-update .commissions-update {
    height: 31px;
    border-radius: 8px;
    background-color: var(--soft-blue);
    margin-top: 16px;
    margin-bottom: 65px;
    margin-left: 10px;
    padding: 8px;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.5rem;
    font-weight: 400;
    width: max-content;
}
.commissions-table-container .left-arrow {
    position: relative;
    right: 260px;
    top: 100px;
    transform: rotate(180deg);
    scroll-behavior: none;
}
.main-product-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    min-width: 320px;
    padding: 16px;
}
.main-product-detail .potato-icon {
    background-image: url(./assets/icons/potato.svg);
    width: 45px;
    height: 25px;
    position: absolute;
    top: 1090px;
    left: calc(50% - 20px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-product-detail .title-and-p h2 {
    text-align: center;
    margin-top: 64px;
    font-size: var(--big);
    color: var(--just-white);
}
.main-product-detail .title-and-p p {
    text-align: center;
    font-size: var(--little);
    color: #808080;
    margin-bottom: 32px;
    margin-top: 24px;
}
.benefits-table {
    min-width: 288px;
    height: 155px;
    background-color: var(--warm-black);
    margin-bottom: 16px;
    text-align: start;
    padding: 10px 20px 22px 16px;
}
.benefits-table h2 {
    color: var(--just-white);
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 700;
}
.benefits-table p {
    color: #808080;
    font-size: var(--little);
    font-weight: 500;
}
.bitcoin-baby {
    color: var(--just-white);
    width: 100%;
    height: 50vh;
    background-image: url(./assets/img/bitcoinbaby.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 319px;
    text-align: center;
    padding-top: 64px;
}
.bitcoin-baby h2 {
    font-size: var(--big);
    font-weight: 700;
}
.main-plans-container {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--off-white);
    width: 100%;
    min-width: 320px;
}
.plans-cards-sliders {
    display: flex;
    height: 356px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 15px;
    padding: 20px;
    width: 100%;
}
.plans-container--card {
    background-color: var(--just-white);
    scroll-snap-align: center;
    width: 190px;
    height: 247px;
    min-width: 200px;
    max-width: 300px;
    margin-bottom: 54px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    text-align: center;
    padding-bottom: 24px;
}
.plans-container--card .float {
    position: relative;
    top: -15px;
    left: 50px;
    background-color: var(--bitcoin-orange);
    color: var(--just-white);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 8px;
    text-align: center;
    width: fit-content;
    border-radius: 8px;
}
.plans-container--card h3 {
    font-size: var(--little);
    font-weight: 500;
}
.plans-container--card .price {
    font-size: 5.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    letter-spacing: -5px;
}
.price sup {
    color: #363636;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.plans-container--card .ahorro {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 16px 16px 12px 16px;
}
.plans-container--card button {
    font-size: var(--medium);
    color: var(--warm-black);
    background-color: var(--just-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 8px;
    padding: 15px 48px 15px 16px;
    background-image: url(./assets/icons/orange-right-arrow.svg);
    background-repeat: no-repeat;
    background-position: 90%;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
.plans-container--card-trimestral {
    background-color: var(--just-white);
    width: 190px;
    height: 247px;
    scroll-snap-align: center;
    min-width: 200px;
    max-width: 300px;
    margin-bottom: 54px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    text-align: center;
    padding: 34px 16px 24px 16px;
}
.plans-container--card-trimestral h3 {
    font-size: var(--little);
    font-weight: 500;
}
.plans-container--card-trimestral .ahorro {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 16px;
}
.plans-container--card-trimestral .price {
    font-size: 5.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    letter-spacing: -5px;
    margin-bottom: 16px;
}
.plans-container--card-trimestral button {
    font-size: var(--medium);
    color: var(--warm-black);
    background-color: var(--just-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 8px;
    padding: 15px 48px 15px 16px;
    background-image: url(./assets/icons/orange-right-arrow.svg);
    background-repeat: no-repeat;
    background-position: 90%;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
.plans-container--card-mensual {
    background-color: var(--just-white);
    width: 190px;
    height: 247px;
    scroll-snap-align: center;
    min-width: 200px;
    max-width: 300px;
    margin-bottom: 54px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    text-align: center;
    padding: 34px 16px 24px 16px;
}
.plans-container--card-mensual h3 {
    font-size: var(--little);
    font-weight: 500;
}
.plans-container--card-mensual .ahorro {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 16px;
}
.plans-container--card-mensual .price {
    font-size: 5.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    letter-spacing: -5px;
    margin-bottom: 16px;
}
.plans-container--card-mensual button {
    font-size: var(--medium);
    color: var(--warm-black);
    background-color: var(--just-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 8px;
    padding: 15px 48px 15px 16px;
    background-image: url(./assets/icons/orange-right-arrow.svg);
    background-repeat: no-repeat;
    background-position: 90%;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}
footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 320px;
    height: 150px;
    background-color: var(--bitcoin-orange);
    padding: 40px 58px 40px 58px;
}
footer div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
footer a {
    text-decoration: none;
    color: var(--just-white);
    font-size: var(--little);
}
footer span {
    width: 60px;
    height: 55px;
    background-image: url(./assets/icons/copyright.svg);
    background-repeat: no-repeat;
    margin-top: 11px;
}
