/* 1. Posicionamiento
2. Modelo de caja 
3. Tipografia
4. Visuales
5. Otros */
:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    --big: 2.4rem;
    --medium: 1.6rem;
    --little: 1.4rem;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 295px;
    padding-top: 16px;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    min-width: 320px;
}
header .logo {
    margin-top: 42px;
    margin-bottom: 16px;
}
.header--title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 229px;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin-top: 0px;
}
.header--title-container h1 {
 font-size: var(--big);
 font-weight: 700;
 margin: 36px 0 0px 0;
 color: var(--just-white);
}
.header--title-container p {
    font-size: var(--little);
    font-weight: 500;
    margin: 24px 16px 0px 16px;
    color: var(--soft-orange);
}
.header--title-container a {
    position: relative;
    top: -5%;
    text-decoration: none;
    font-size: var(--little);
    font-weight: 700;
    margin-top: 32px;
    color: var(--black);
    height: 48px;
    padding: 15px 0 15px 16px;
    background-color: var(--off-white);
    border-radius: 4px;
    gap: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.header--title-container span {
    width: 12px;
    height: 7.41px;
    margin-right: 20px;
    margin-left: 14px;
}
.main-exchange-container {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
}
.main-exchange-container .backgroundImg {
    width: 195px;
    height: 195px;
    margin: 59px 57px 40px 68px;
}
.main-exchange-container--title {
    width: 288px;
    margin-left: 15px;
    margin-right: 17px;
}
.main-exchange-container--title h2{
    text-align: center;
    font-size: var(--big);
    font-weight: 700;
    color: var(--warm-black);
    margin-bottom: 24px;
}
.main-exchange-container--title p {
    text-align: center;
    color: #757575;
    font-size: var(--little);
    font-weight: 500;
    margin-bottom: 48px;
}
.main-tables-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
}
.main-tables-container span {
    font-size: 18px;
    font-weight: 700;
    color: var(--bitcoin-orange);
    position: relative;
    margin-right: 120px;
    margin-bottom: 12px;
}
.table {
    width: 200px;
    height: 156px;
    background-color: var(--just-white);
    margin-bottom: 16px;
}
.main-tables-container .update {
    height: 31px;
    border-radius: 8px;
    background-color: var(--soft-orange);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--medium);
    width: fit-content;
    padding: 8px;
    position: relative;
    left: 0%;
    margin-bottom: 65px;
}